.shell-wrapper {
  padding: 20px 20px;
  height: 100%;
  box-sizing: border-box;
  header {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 7px solid black;
      border-radius: 50%;
    }
    a {
      cursor: pointer;
    }
  }
  main {
    padding: 0 40px;
  }
}
